.active {
    background-color: lighten(#0e1111, 10%) !important;
    color: $white2 !important;
}

.navbar {
    position: fixed;
    transform: translate3d(0, 0, 0);
    transition: 0.2s all ease-out;

    &-hide {
        transform: translate3d(0, -100%, 0);
        transition: 0.2s all ease-out;
    }

    &-bg {
        background-color: #0e1111;

        &-border {
            border-bottom: 1px solid lighten(#0e1111, 10%);
        }
    }
}