@import './../../node_modules/bootstrap/scss/bootstrap';
@import './../../node_modules/bootstrap-vue/src/index.scss';

@import './partials/variables.scss';
@import './partials/mixins.scss';
@import './partials/blocktags.scss';
@import './partials/apod.scss';
@import './partials/articles.scss';
@import './partials/cards.scss';
@import './partials/launch.scss';
@import './partials/navigation.scss';

/****** OVERFLOW SEARCH ***********
    * {
        outline: 1px solid red;
        opacity: 1 !important; visibility: visible !important;
    }

****** / OVERFLOW SEARCH ***********/

* { box-sizing: border-box; }

body,html {
    background-color: #0e1111;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    font-size: 16px;
}
body {
    padding-top: 55px;
}
#app {
	min-height: 100vh;
	overflow: hidden;
}